// COLORS
$color-light-gray: #f9f9ff;
$color-dark-gray: #222222;
$color-medium-gray: #777777;
$color-white: #FFF;
$color-black: #000;

$color-primary: #8490ff;
$color-secondary: #62bdfc;
$color-title: #222222;
$color-text: #777777;
$color-link: #f9f9ff;
$color-disable: transparentize(#222222, 0.3);

$color-default: #f9f9ff;
$color-success: #4cd3e3;
$color-info: #38a4ff;
$color-warning: #f4e700;
$color-danger: #f44a40;