footer {
  padding: 80px 0;
  background-color: $color-dark-gray;
  flex-shrink: 0;
}

.single-footer-widget {
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

.footer-social {
  a {
    padding-right: 25px;
    @include transition();
    &:hover {
      i {
        @extend .p1-gradient-color;
      }
    }
  }
  i {
    color: #cccccc;
    @include transition();
  }
  @include media-breakpoint-down(md) {
    text-align: left;
  }
}

.copyright-text {
  padding-top: 20px;
  a, i {
    color: $color-primary;
  }
}