$header-height: 56px;

.sticky-wrapper {
  height: $header-height !important;
}

.is-sticky .default-header {
  @include transition();
  background-color: $color-white;
}

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  color: $color-white;
  @extend .p1-gradient-bg;
  width: 100% !important;
}

.menu-bar {
  cursor: pointer;
  span {
    color: $color-black;
    font-size: 24px;
  }
}

.main-menubar {
  display: none !important;
}

@include media-breakpoint-down(md) {
  .main-menubar {
    display: block !important;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav {
  a {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-white;
    padding: 20px;

    &:hover {
      color: $color-black;
    }
  }

  @media (max-width: 992px) {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    margin-top: 10px;

    a { padding: 0; }

    li { padding: 15px 0; }
  }
}


